<ng-template [ngIf]="type=== 'experience'">
  <div class="profession Experience1">
    <p class="title"><span class="ExperiencePoste1"> Fondateur &amp; DT</span> - <span
      class="location ExperienceEntreprise1"> @Startup ChickDev</span></p>
    <p class="date"> De Juin 2015 a ce jour - <span class="ExperienceLienSite1"> http://chickdev.com </span></p>
    <p class="subtitle ExperienceRealisation1">Realisation de plusieurs sites web et applications web et mobiles
    </p>
    <hr>
  </div>
</ng-template>

<ng-template [ngIf]="type==='cursus'">
  <div class="profession">
    <p class="title"><span class="CursusDiplome0">DIPET 2 Electronique</span>- <span
      class="location CursusEcoleObtention0">@ENSET de Douala</span></p>
    <p class="date_cursus_role">
      <span class="date CursusDateObtention0">Aout 2016 - </span> &nbsp;
      <span class="cursus_role CursusSpecialisation0">Gestion d'eclairage d'une maison(Android + Arduino)</span>
    </p>
    <hr>
  </div>
</ng-template>
