<div class="container" id="container">
  <!--------------------------          SECTION UP_LEFT_SIDE  ------------------------>
  <section class="up_left_side card">
    <app-profil></app-profil>
  </section>

  <!--------------------------          SECTION DOWN_LEFT_SIDE  ------------------------>
  <section class="down_left_side card">
    <app-skill></app-skill>
  </section>

  <!--------------------------          SECTION RIGHT_SIDE  ------------------------>

  <section class="right_side">

    <app-experience></app-experience>

    <app-hobbies></app-hobbies>

    <app-cursus></app-cursus>

  </section>
  
</div>
